.footer-sub-links{
    padding: 0 0 10px 0;
    text-align: center;
}
.footer-sub-links a{
    margin: 0 5px;
    display: inline-block;
    color: white !important;
    text-decoration: underline !important;
    font-size: 14px !important;
}
.sidr-class-close-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #333333;
    font-size: 12px;
}
.elementor-88 .elementor-element.elementor-element-8c11e1a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #d3d3d3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 0px 0px 0px;
}
.footer .elementor-row{
    align-items: center;
}
.attachment-large.size-large.m-img{
    display :none !important;
}

@media screen and (max-width: 768px){
    .attachment-large.size-large.d-img{
        display: none !important;
    }
    .attachment-large.size-large.m-img{
        display: block !important;
    }

}

.error-popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
}
.popup-wrap{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    padding: 5px 10px;
    max-width: 500px;
    margin: auto;
}
.hide-popup{
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}
.popup-text{
    padding: 10px 30px 30px;
    text-align: center;
}